<% if @admin.errors.any? %>
<div class="alert alert-danger" role="alert">
  <ul>
  <% @admin.errors.full_messages.each do |message| %>
    <li><%= message %><li>
  <% end %>
  </ul>
</div>
<% end %>
<div class="page-header pt-3">
<h4>Editando: <%= @admin.email %></h4>
</div>

<%= render 'form', admin: @admin %>
