<h1>Listando administradores</h1>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |a| %>
        <tr>
            <td><%= a.id %><td>
            <td><%= a.email %><td>
        <tr>
    <% end %>
  </tbody>
</table>